:root {
  --color-primary: #1b84ff;
  --color-primary-50: #e6f2ff;
  --color-primary-100: #cce5ff;
  --color-primary-200: #99cbff;
  --color-primary-300: #66b2ff;
  --color-primary-400: #3398ff;
  --color-primary-500: #1b84ff;
  --color-primary-600: #0066cc;
  --color-primary-700: #004d99;
  --color-primary-800: #003366;
  --color-primary-900: #001a33;
}
